/*Filas*/
body{
    text-align: center;
}

button{
    margin-left: 1%;
    text-align: center;
    width: 100px;
}

#entrada{
    text-align: center;
}

div#group{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 800px;
    height: 500px;
}

#Fila{
    background-color: rgb(255, 243, 78);
    text-align: center;
    width: 15%;
    margin: 0 auto;
    margin-bottom: 1%;
    float: left;
    margin-left: 1%;
}
/*Listas*/
* {
    margin: 0;
    padding: 0;
}

#avisos {
    width: 60%;
    margin-left: 30%;
}

#exercicios {
    width: 20%;
    margin-left: 40%;
}

#botoes {
    margin-top: 10px;
    
}

#btn {
    margin-bottom: 10px;
    margin-left: 10px;
}

#imgLogo {
    width: 70%;
    height: auto;
    text-align: center;
}

#info {
    margin-bottom: 5px;
    border-bottom: 3px solid green; 
}

#infob {
    text-align: justify;
}

#info h1 {
    text-align: center;
}